- name: MariaDBのインストール
  sudo: yes
  yum: name='mariadb-server,mariadb-devel'

- name: MySQL-pythonのインストール (Ansibleが使用)
  sudo: yes
  yum: name='MySQL-python'

- name: MariaDB 起動・自動起動設定
  sudo: yes
  service: name=mariadb state=started enabled=yes
  
- name: rootパスワード設定
  mysql_user:
    name: root
    host: "{{ item }}"
    password: "{{ db_passwd_root }}"
    login_user: root
  with_items:
    - 127.0.0.1
    - ::1
    - localhost
  
- name: /etc/my.cnfを作成
  sudo: yes
  template: src=my.cnf.j2 dest=/etc/my.cnf owner=root group=root mode=0644

- name: /root/.my.cnf を作成
  sudo: yes
  template:
    src: .my.cnf.j2
    dest: "{{ lookup('env', 'HOME')}}/.my.cnf"
    mode: 0644
  
- name: 匿名ユーザー削除
  mysql_user:
    name=''
    state=absent

- name: リモートからのrootログインを禁止
  mysql_user:
    name=root
    host={{ ansible_fqdn }}
    state=absent

- name: testデータベース 削除
  mysql_db:
    name=test
    state=absent

- name: Redmine用データベース作成
  mysql_db:
    name=redmine
    state=present

- name: Redmine用ユーザー作成
  mysql_user:
    name=redmine
    password={{ db_passwd_redmine }}
    priv=redmine.*:ALL

