- name: farend_basic theme download
  become: yes
  git:
    repo=https://github.com/farend/redmine_theme_farend_basic.git
    dest={{ redmine_dir }}/public/themes/farend_basic

- name: flat_theme theme download
  become: yes
  git:
    repo=https://github.com/ssaito/redmine-theme-flat.git
    dest={{ redmine_dir }}/public/themes/redmine_flat

- name: theme_gitmike theme download
  become: yes
  git:
    repo=https://github.com/makotokw/redmine-theme-gitmike.git
    dest={{ redmine_dir }}/public/themes/gitmike

- name: theme_purplemine2 theme download
  become: yes
  git:
    repo=https://github.com/taqueci/PurpleMine2.git
    dest={{ redmine_dir }}/public/themes/PurpleMine2

- name: redmine_theme_minimalflat2_download
  become: yes
  get_url:
    url: https://github.com/akabekobeko/redmine-theme-minimalflat2/releases/download/v1.3.4/minimalflat2-1.3.4.zip
    dest: /tmp

- name: redmine_theme_minimalflat2_extract
  become: yes
  unarchive: src=/tmp/minimalflat2-1.3.4.zip dest={{ redmine_dir }}/public/themes/minimalflat

- name: change deafult theme setting
  become: yes
  command:
    bundle exec rails r 'Setting["ui_theme"]="redmine_flat"'
    chdir={{ redmine_dir }}
  environment:
    PATH: "/usr/local/bin:{{ ansible_env.PATH }}"
    RAILS_ENV: production
  when:
    result_database_yml|changed
